<div class="flex flex-col border-gray-900/10 pb-12 mx-10">
  <h2 class="text-2xl font-semibold leading-7 text-gray-900 text-center">Cadastrar Música</h2>

  <form [formGroup]="musicForm" class="self-center w-1/2 h-2/4 bg-white shadow-md rounded-lg border border-gray-900/10 p-8 mt-10 grid grid-cols-2 gap-8 sm:grid-cols-6 ">
    <div class="col-span-2 sm:col-span-6">
      <p class=" text-base leading-6 text-gray-600 text-center">Preencha os detalhes da música abaixo.</p>
    </div>

    <!-- Imagem da Capa -->
    <div class="col-span-2 sm:col-span-6">
      <label for="imgSong" class="block text-sm font-medium leading-6 text-gray-900">
        Capa
      </label>
      <div>
        <input 
          type="url"
          id="imgSong"
          formControlName="imgSong"
          class="block w-full h-fit border-1 p-2 rounded-md text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Insira o link de uma imagem para a capa da música"
          >
        <mat-error *ngIf="musicForm.get('imgSong')?.invalid && (musicForm.get('imgSong')?.touched || musicForm.get('imgSong')?.dirty)" class="text-sm text-red-500">
          {{getErrorMessage('imgSong')}}
        </mat-error>
      </div>
    </div>

    <!-- Cantor -->
    <div class="col-span-1 sm:col-span-3">
      <label for="singer" class="block text-sm font-medium leading-6 text-gray-900">Cantor</label>
      <div class="mt-2">
        <input
          type="text"
          id="singer"
          formControlName="singer"
          maxlength="51"
          class="block w-full h-fit border-1 p-2 rounded-md text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Digite o nome do cantor"
        />
        <mat-error *ngIf="musicForm.get('singer')?.invalid && (musicForm.get('singer')?.touched || musicForm.get('singer')?.dirty)" class="text-sm text-red-500">
          {{ getErrorMessage('singer') }}
        </mat-error>
      </div>
    </div>

    <!-- Música -->
    <div class="col-span-1 sm:col-span-3">
      <label for="song" class="block text-sm font-medium leading-6 text-gray-900">Música</label>
      <div class="mt-2">
        <input
          type="text"
          id="song"
          formControlName="song"
          maxlength="51"
          class="block w-full h-fit rounded-md border-1 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Digite o nome da música"
        />
        <mat-error *ngIf="musicForm.get('song')?.invalid && (musicForm.get('song')?.touched || musicForm.get('song')?.dirty)" class="text-sm text-red-500">
          {{ getErrorMessage('song') }}
        </mat-error>
      </div>
    </div>

    <!-- Gênero -->
    <div class="col-span-1 sm:col-span-3">
      <label for="genre" class="block text-sm font-medium leading-6 text-gray-900">Gênero</label>
      <div class="mt-2">
        <input
          type="text"
          id="genre"
          formControlName="genre"
          maxlength="31"
          class="block w-full h-fit rounded-md border-1 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Digite o gênero musical"
        />
        <mat-error *ngIf="musicForm.get('genre')?.invalid && (musicForm.get('genre')?.touched || musicForm.get('genre')?.dirty)" class="text-sm text-red-500">
          {{ getErrorMessage('genre') }}
        </mat-error>
      </div>
    </div>

    <!-- Data de Cadastro --> 
    <div class="col-span-1 sm:col-span-3">
      <label for="playlist" class="block text-sm font-medium leading-6 text-gray-900">Playlist</label>
      <div>
        <mat-form-field appearance="outline" class="w-full h-fit">
          <mat-select formControlName="playlist">
            @for (playlist of playlists; track playlist) {
              <mat-option [value]="{_id: playlist._id, name: playlist.name}"> {{ playlist.name }} </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Data de Cadastro --> 
    <div class="col-span-1 sm:col-span-3">
      <label for="registrationDate" class="block text-sm font-medium leading-6 text-gray-900">Data de Cadastro</label>
      <div class="mt-2">
        <input
          type="date"
          id="registrationDate"
          formControlName="registrationDate"
          class="block w-full h-fit rounded-md border-1 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
    </div>

    <!-- Botão de Enviar -->
    <div class="col-span-2 gap-10 sm:col-span-6 flex justify-between">
      <button
        class="flex flex-row items-center justify-center p-2 w-1/2 bg-red-500 text-white font-medium rounded-md hover:bg-red-600 focus:ring-2 focus:ring-red-600 focus:ring-inset disabled:opacity-50"
        (click)="listMusics()"
      >
      <svg lucideX class="size-5"></svg>
        Cancelar
      </button>
      <button
        [attr.disabled]="!musicForm.valid ? true : null" 
        class="flex flex-row items-center justify-center p-2 w-1/2 bg-green-500 text-white font-medium rounded-md hover:bg-green-600 focus:ring-2 focus:ring-green-600 focus:ring-inset disabled:opacity-50"
        (click)="onSubmit()"
        >
        <svg lucideCheck class="size-5"></svg>
        Salvar
      </button>
    </div>
  </form>
</div>